extends layout.pug
block variables
    - var title = "Home";
    - var id = "index";
block content
    section.hero.welcome.is-small.box.p-0#welcome
        .hero-body
            .container
                h1.title Hello, #[span.name]!
                h2.subtitle
                    | Today is #[span.date].
    section.info-tiles#stats
        .tile.is-ancestor.has-text-centered
            .tile.is-parent
                article.tile.is-child.box.has-loader
                    p.title.users
                    p.subtitle Users
            .tile.is-parent
                article.tile.is-child.box.has-loader
                    p.title.sets
                    p.subtitle Sets
            .tile.is-parent
                article.tile.is-child.box.has-loader
                    p.title.open-forms
                    p.subtitle Open Forms
            .tile.is-parent
                article.tile.is-child.box.has-loader
                    p.title.downloads
                    p.subtitle Downloads (24H)
    .columns
        .column.is-6
            .card.events-card
                header.card-header
                    p.card-header-title
                        | Events
                .card-table
                    .content
                        table.table.is-fullwidth.is-striped
                            tbody
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                                tr
                                    td(width='5%')
                                        i.fa.fa-bell-o
                                    td Lorum ipsum dolem aire
                                    td.level-right
                                        a.button.is-small.is-primary(href='#') Action
                footer.card-footer
                    a.card-footer-item(href='#') View All
        .column.is-6
            .card
                header.card-header
                    p.card-header-title
                        | Inventory Search
                    a.card-header-icon(href='#', aria-label='more options')
                .card-content
                    .content
                        .control.has-icons-left.has-icons-right
                            input.input.is-large(type='text', placeholder='')
                            span.icon.is-medium.is-left
                                i.fa.fa-search
                            span.icon.is-medium.is-right
                                i.fa.fa-check
            .card
                header.card-header
                    p.card-header-title
                        | User Search
                    a.card-header-icon(href='#', aria-label='more options')
                .card-content
                    .content
                        .control.has-icons-left.has-icons-right
                            input.input.is-large(type='text', placeholder='')
                            span.icon.is-medium.is-left
                                i.fa.fa-search
                            span.icon.is-medium.is-right
                                i.fa.fa-check
    script(src="./scripts/index.ts" type="module")
