block variables
mixin sidebarLink(linkId, text, href, smallText)
    - var linkAttrs = { class: linkId === id ? "is-active" : "" };
    li
        a(href=href)&attributes(linkAttrs) #{text}
            if smallText
                small(style="font-size: 0.5rem;") #{smallText}
doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon' href='images/favicon.ico')
        link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
        title #{title} - Vocabustudy Admin Console
        link(rel='stylesheet' href='styles/styles.scss')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700&display=swap', rel='stylesheet')
        link(rel="manifest" href="app.webmanifest")
        link(rel="stylesheet" href="npm:animate.css")
        block head
    body
        unless hideSidebar
            nav.navbar.is-white
                .container
                    .navbar-brand
                        a.navbar-item.brand-text(href='/') Admin Console
                        .navbar-burger.burger
                            span
                            span
                            span
                    #main-navbar.navbar-menu
                        .navbar-start
                            a.navbar-item(href='https://vocabustudy.org/') Stable
                            a.navbar-item(href='https://nightly.vocabustudy.org/') Nightly
                            a.navbar-item(href='https://blog.vocabustudy.org/') Blog
        .container.is-fluid
            if hideSidebar
                block content
            else
                .columns
                    .column.is-3
                        aside.menu.is-hidden-mobile
                            p.menu-label
                                | General
                            ul.menu-list
                                +sidebarLink("index", "Dashboard", "index.pug")
                                +sidebarLink("sets", "Sets", "sets.pug")
                                +sidebarLink("hosting", "Hosting", "hosting.pug")
                                +sidebarLink("stats", "Statistics", "")
                            p.menu-label Administration
                            ul.menu-list
                                li
                                    a Forms
                                    ul
                                        li #[a Search Forms]
                                        li #[a Respond to Forms]
                                        li #[a Form Data]
                                li #[a Manage Users]
                                +sidebarLink("bugs", "Bugs and Features", "", "This will replace the google sheet, and will directly transfer feature requests and bug reports to here if you click a button in Forms.")
                            p.menu-label
                                | Posting
                            ul.menu-list
                                li
                                    a Admin Posts
                                        small(style="font-size: 0.5rem;") Send information to other admins?
                                li
                                    a Blog Posts
                                        small(style="font-size: 0.5rem;") vocabustudy blog posting stuff
                                li
                                    a Announcements
                                        small(style="font-size: 0.5rem;") remote config; adds notification banner to vocabustudy home page
                            p.menu-label
                                | Quick Links
                            ul.menu-list
                                li
                                    a(href="https://github.com/For-0/vocabustudy") Vocabustudy
                                        span.icon.is-small.ml-2
                                            i.fa-brands.fa-github
                                li
                                    a(href="https://github.com/For-0") For Zero
                                        span.icon.is-small.ml-2
                                            i.fa-brands.fa-github
                                li
                                    a(href="https://teams.microsoft.com/l/team/19%3apiy-nQIXOAR-UcNQjoHUPiJnMG52qiOWh0xUwJ5LS1Q1%40thread.tacv2/conversations?groupId=3ba9b62e-77d1-4ce8-8ccb-c78560b8c30b&tenantId=a3f6de14-0d97-4769-a3ae-aedf0db7add3") Teams
                                        span.icon.is-small.ml-2
                                            i.fa-solid.fa-message
                                li
                                    a.has-text-danger(id="sidebar-logout" role="button") Log Out
                                        span.icon.is-small.ml-2
                                            i.fa-solid.fa-sign-out
                    .column.is-9
                        block content
        block scripts