node_modules/
.replit
.upm/
replit.nix
.cache/
.config/
logs
*.log
npm-debug.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.pid.lock
.npm
.eslintcache
.stylelintcache
.node_repl_history
.idea
.vscode
/admin/public/css/